---
permalink: /
title: "Clara Rus"
author_profile: true
---
<section id="about">
        <h2>About Me</h2>
        <p>I am a PhD candidate part of the Information Retrieval Lab at the University of Amsterdam, under the supervision of Maarten de Rijke and Andrew Yates. 
        Overall my research focuses on trustworthy and responsible AI, particularly on fairness-aware learning to rank. Additionally my PhD is funded by the EU Horizon interdisciplinary project <a href="https://findhr.eu/">FINDHR</a>, which focuses on fairness in algorithmic hiring. </p>
        <a href="https://clararus.github.io/files/Clara_Rus_Academic_CV.pdf" class="cv-button">View CV</a>
</section>
<section id="news">
    <h2>News</h2>
    {% for post in site.talks reversed %}
      {% include archive-single-talk.html %}
    {% endfor %}
</section>

<style>
    .cv-button {
        display: inline-block;
        margin-top: 10px;
        padding: 10px 15px;
        background-color: #0073e6;
        color: white;
        text-decoration: none;
        border-radius: 5px;
    }
    .cv-button:hover {
        background-color: #005bb5;
        text-decoration: none;
    }
</style>



